table, th, td{
  color: #ddd;
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
}

h1 {
  font-size: 1.8em;
}

.pie {
  align-content: center;
  padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}